/*
 * @file
 * Provides the layout styles for layout_threecol_33_34_33.
 */

.layout--fourcol-25-25-25-25 {
  display: flex;
  flex-wrap: wrap;
}

.layout--fourcol-25-25-25-25 > .layout__region {
  flex: 0 1 100%;
}

@media screen and (min-width: 40em) {
  .layout--fourcol-25-25-25-25 > .layout__region {
    flex: 0 1 25%;
  }
}
