/**
 * @file
 * Basic styling for Accordion paragraph.
 */

.accordion-pane__title button {
  width: 100%;
  text-align: left;
}

.accordion-pane__title button[hidden] {
  display: none;
}

.accordion--initialised .accordion-pane__content {
  display: none;
}

.accordion--initialised .accordion-pane__content--open {
  display: block;
}

/* initial hide of icon within the button, retain pointer events setting if used */
.accordion-icon {
  display: none;
  pointer-events: none;
}

.accordion-toggle-all {
  margin-bottom: var(--vertical-rhythm-spacing);
}
